.app {
  display: flex;
  margin: 0 auto;
  width: 60rem;
  height: 35rem;

  border-radius: 0.3rem;
  background-color: rgb(91, 122, 207);
  box-shadow: 0 0 0.3rem;

  a {
    color: unset;
    text-decoration: unset;
  }
}
